<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>www.crearconvocatoria.com</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" href="css/formularioCrearConvocatoria.css">
</head>
<body ng-app="MyApp">
	<div class="container-fluid col-lg-12 main mCustomScrollbar">
		<div class="row">
			<header class="encabezado col-lg-6">
				<h1 class="titulo">Crear convocatoria</h1>
			</header>
		</div>
		<div class="row">	
		<form ng-controller="formController">
			<div class="row div-mensaje">
				<div class="col-lg-6 mensaje">
					<p>
						En este espacio diligencie los datos requeridos. los datos marcados con (*) son obligatorios cuando termine el click en aceptar.
					</p>
				</div>
			</div>	
			<div class="row">
				<div class="form-group col-lg-2">
					<label for="TipoConvocatoria">
						Tipo de convocatoria
					</label>
					<select name="select" id="idSelect" class="form-control">
						<option value="Seleccione">
							Seleccione
						</option>
					</select>
				</div>
				<div class="form-group col-lg-2">
					<label for="SubTipoConvocatoria">
						Subtipo de convocatoria
					</label>
					<select name="select" id="idSelect" class="form-control">
						<option value="Seleccione">
							Seleccione
						</option>
					</select>
				</div>
				<div class="form-group col-lg-2">
					<label for="fechaApertura">
						(*)Fecha de apertura
					</label>
					<input type="date" name="fechaApertura" id="fechaApertura" class="form-control"/>	
				</div>
			</div>
			<div class="row">
				<div class="form-group col-lg-2">
					<label for="ConvocatoriaPrograma">
						Convocatoria de programa
					</label>
					<select name="select" id="idSelect" class="form-control">
						<option value="Seleccione">
							Seleccione
						</option>
					</select>
				</div>
				<div class="form-group col-lg-2">
					<label for="TipoFinanciacion">
						(*)Tipo de financiacion
					</label>
					<select name="select" id="idSelect" class="form-control">
						<option value="Seleccione">
							Seleccione
						</option>
					</select>
				</div>
				<div class="form-group col-lg-2">
						<label for="fechaApertura">
							(*)Fecha de apertura
						</label>
						<input type="date" name="fechaApertura" id="fechaApertura" class="form-control"/>	
				</div>
			</div>
			<div class="row">
				<div class="form-group col-lg-2">
						<label for="fechaCierre">
							(*)Fecha de cierre
						</label>
						<input type="date" name="fechaCierre" id="fechaCierre" class="form-control"/>	
				</div>
				<div class="form-group col-lg-2">
						<label for="fechaResultadoPreliminar">
							Fecha Resultado Premilinar
						</label>
						<input type="date" name="fechaResultadoPreliminar" id="fechaResultadoPreliminar" class="form-control"/>	
				</div>
				<div class="form-group col-lg-2">
						<label for="fechaResultadoDefinitivo">
							Fecha Resultado Definitivo
						</label>
						<input type="date" name="fechaResultadoDefinitivo" id="fechaResultadoDefinitivo" class="form-control"/>	
				</div>
			</div>
			<div class="row">
				<div class="form-group col-lg-6">
					<label for="convocatoria">
						(*)Convocatoria
					</label>
					<input id="convocatoria" ng-model="formdata.convocatoria" type="text" name="convocatoria" class="form-control"/>
				</div>
			</div>
			<div id="convocatoria-error" style="display:none;"></div>
			<div class="row">
				<div class="form-group col-lg-2">
					<label for="codigoConvocatoria">
						Codigo Convocatoria
					</label>
					<input id="codigoConvocatoria" type="text" name="codigoConvocatoria" class="form-control"/>
				</div>
			</div>
			<div id="codigoConvocatoria-error" style="display:none;"></div>
			<div class="row">
				<div class="form-group col-lg-6">
					<label for="descripcion">Descripcion</label>
					<textarea name="descripcion" id="descripcion" rows="1" cols="1" class="form-control">

					</textarea>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-lg-6">
					<label for="objeto">Objeto</label>
					<textarea name="objeto" id="objeto" rows="1" cols="1" class="form-control">

					</textarea>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-lg-6">
					<label for="dirigido">Dirigido A</label>
					<textarea name="dirigido" id="dirigido" rows="1" cols="1" class="form-control">

					</textarea>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-lg-2">
					<label for="programaBase">
						Programa base
					</label>
					<select name="select" id="programaBase" class="form-control">
						<option value="Seleccione">
							Seleccione
						</option>
					</select>
				</div>
			</div>
			<div class="row">	
				<div class="form-group col-lg-2">
					<label for="InstitucionesFinanciadoras">
						Instituciones financiadoras
					</label>
					<select name="select" id="InstitucionesFinanciadoras"
					 class="form-control">
						<option value="Seleccione">
							Seleccione
						</option>
					</select>
				</div>
			</div>	
			<div class="row">
				<div class="form-group col-lg-2">
					<label for="maximoPorcentajeFinanciar">
						Maximo porcentaje financiar
					</label>
					<input id="maximoPorcentajeFinanciar" type="text" name="maximoPorcentajeFinanciar" class="form-control"/>
					<div id="maximoPorcentajeFinanciar-error" style="display:none;"></div>
				</div>
				<div class="form-group col-lg-2">
					<label for="minimiPorcentajeFinanciar">
						Minimo porcentaje financiar
					</label>
					<input id="minimoPorcentajeFinanciar" type="text" name="minimoPorcentajeFinanciar" class="form-control"/>
					<div id="minimoPorcentajeFinanciar-error" style="display:none;"></div>
				</div>
				<div class="form-group col-lg-2">
					<label for="minimoPorcentajeContrapartidaDinero">
						Min por contrapartida dinero
					</label>
					<input id="minimoPorcentajeContrapartidaDinero" type="text" name="minimoPorcentajeContrapartidaDinero" class="form-control"/>
					<div id="minimoPorcentajeContrapartidaDinero-error" style="display:none;"></div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-lg-2">
					<label for="minimoPorcentajeContrapartidaEspecie">
						Min po contrapartida especie
					</label>
					<input id="minimoPorcentajeContrapartidaEspecie" type="text" name="minimoPorcentajeContrapartidaEspecie" class="form-control"/>
					<div id="minimoPorcentajeContrapartidaEspecie-error" style="display:none;"></div>
				</div>
				<div class="form-group col-lg-2">
					<label for="montoMaximoFinanciar">
						Monto maximo financiar
					</label>
					<input id="montoMaximoFinanciar" type="text" name="montoMaximoFinanciar" class="form-control"/>
					<div id="montoMaximoFinanciar-error" style="display:none;" ></div>
				</div>
				<div class="form-group col-lg-2">
					<label for="montoTotalConvocatoria">
						Monto total convocatoria
					</label>
					<input id="montoTotalConvocatoria" type="text" name="montoTotalConvocatoria" class="form-control"/>
					<div id="montoTotalConvocatoria-error" style="display:none;" ></div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-lg-2">
					<label for="convenio">
						Convenio
					</label>
					<select name="select" id="convenio"
					 class="form-control">
						<option value="Seleccione">
							Seleccione
						</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-lg-2">
					<label for="cdp">
						CDP
					</label>
					<input id="cdp" type="text" name="cdp" class="form-control"/>
					<div id="cdp-error" style:"display:none;"></div>
				</div>
				<div class="form-group col-lg-2">
					<label for="fechaCdp">
							Fecha CDP
					</label>
					<input type="date" name="fechaCdp" id="fechaCdp" class="form-control"/>	
				</div>
			</div>
			<div class="row">
				<div class="form-group col-lg-2">
					<label for="cdr">
						CDR
					</label>
					<input id="cdr" type="text" name="cdr" class="form-control"/>
					<div id="cdr-error" style="display:none;"></div>
				</div>
				<div class="form-group col-lg-2">
					<label for="fechaCdr">
							Fecha CDR
					</label>
					<input type="date" name="fechaCdr" id="fechaCdr" class="form-control"/>	
				</div>
			</div>
			<div class="row">
				<div class="form-group col-lg-2">
					<label for="url">
						URL
					</label>
					<input id="url" type="text" name="url" class="form-control"/>
					<div id="url-error" style="display:none;"></div>
				</div>
			</div>
			<div class="row">	
				<div class="form-group col-lg-6">
					<label for="DefinirEstructuraConvocatoria">
						Definir estructura convocatoria
					</label>
					<select name="select" id="DefinirEstructuraConvocatoria"
					 class="form-control">
						<option value="Seleccione">
							Seleccione
						</option>
					</select>
				</div>
			</div>
			<div class="row">	
				<div class="form-group col-lg-2">
					<label for="convocatoria">
						Convocatoria
					</label>
					<select name="select" id="convocatoria"
					 class="form-control">
						<option value="Seleccione">
							Seleccione
						</option>
					</select>
				</div>
				<div class="form-group col-lg-2">
					<label for="numeroProyecto">
						Numero proyecto
					</label>
					<input id="numeroProyecto" type="text" name="numeroProyecto" class="form-control"/>
					<div id="numeroProyecto-error" style="display:none;"></div>
				</div>
				<div class="form-group col-lg-2">
					<label for="vigencia">
						Vigencia
					</label>
					<input id="vigencia" type="text" name="vigencia" class="form-control"/>
					<div id="vigencia-error" style="display:none;"></div>
				</div>
			</div>
			<div class="row col-lg-6">
				<div class="btn-group btn-grupo">
 					<button type="button" class="button btn btn-default">Cancelar</button>
  					<a class="button btn btn-default" href="formularioDefinirAnexos.html">Anexos</a>
 				    <button id="submit-btn-1" ng-click="sendData()" type="button" class="button btn btn-default">Guardar Cambios</button>
				</div>
			</div>	
		</form>
		</div>
		<div class="row">
			<footer class="footer col-lg-6">
				<div>
					<ul class="iconos">
						<a href="https://www.facebook.com/colciencias">
							<img class="img" src="images/facebook.png">
						</a>
						<a  href="https://twitter.com/Colciencias">
							<img class="img" class="img" src="images/twitter.png">
						</a>
						<a href="https://www.youtube.com/user/colciencias">
							<img class="img" src="images/youtube.png">
						</a>
						<a href="http://www.colciencias.gov.co/rss.xml">
							<img class="img" src="images/Rss.png">
						</a>
					</ul>
				</div>
				<img class="logo" src="images/colciencias.jpg">
			</footer>
		</div>
	</div>
	<script src="js/jquery-2.1.1.min.js"></script>
	<script src ="js/jquery.mCustomScrollbar.concat.min.js"> </script>
	<script src="js/validacionesFormularioCrearConvocatoria.js"></script>
	<script> 
    ( function ( $ ) { 
        $ ( window ) . load ( function ( ) { 
            $ ( ".main" ) . mCustomScrollbar ( ) ; 
        } ) ; 
    } ) ( jQuery ) ; 
	</script>
</body>
</html>